<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee Supply Chain</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Coffee Supply Chain Management</h1>
    <ul class="list-group mt-4">
        <li class="list-group-item"><a href="/addBatch">Add Batch</a></li>
        <li class="list-group-item"><a href="/updateState">Update Batch State</a></li>
        <li class="list-group-item"><a href="/transferOwnership">Transfer Batch Ownership</a></li>
        <li class="list-group-item"><a href="/getBatchDetails">Get Batch Details</a></li>
    </ul>
</div>
</body>
</html>
